@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  user-select: none;
  color:#fff;
  width:100%;
  gap:3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #000;
  height:100vh;
}


#myinput{
  height:2.5rem;
  width:15rem;
  outline: none;
  border-radius: 0.2rem;
  background: #404248;
  border:0.1px solid #78EAE1;
}

#myinput:hover{
  transform: scale(1.1);
  transition:all .3 ease-in-out;
}


::placeholder{
  color:#56FF76;
  padding:15%;
}

button{
  background: #404248;
  width:7rem;
  height:2rem;
  border:0.1px solid #09E8FF;
  border-radius: 0.3em;
  color:#fff;
}

p{
  width:300px;
}

div::before{
  content:"";
  position:absolute;
  width:10rem;
  height:10rem;
  backdrop-filter: blur(10px);
  border-radius: 50%;
  background: #09E8FF;
  animation: animate 35s linear infinite;
}

div::after{
  content:"";
  position:absolute;
  width:5rem;
  height:5rem;
  margin-top:60%;
  backdrop-filter: blur(10px);
  border-radius: 50%;
  background: #3EFF09;
  animation: animateT  34s linear infinite;
}

#imgAshneer{
  position: absolute;
  display: none;
  width:24rem;
  height:8rem;
  margin-top:75%;
}

#imgAman{
  position:absolute;
  margin-top: 75%;
  width:24rem;
  height:8rem;
  display: none;
}

#newGame{
  display:none;
}

@keyframes animate{
  0%{
    transform: rotate(270deg) translateY(10rem);
  }
  100%{
    transform: rotate(30deg) translate(10rem);
    background: #3EFF09;
  }
}

@keyframes animateT{
  0%{
    transform:rotate(180deg) translateY(10rem);
  }
  100%{
    transform:rotate(30deg) translate(10rem);
    background-color:#09E8FF;
  }
}
